{% form_theme editor.form_like 'RedKiteCmsBundle:Bootstrap:' ~ bootstrap_version ~ '/FormTheme/forms.html.twig' %}
{% form_theme editor.form_open_graph 'RedKiteCmsBundle:Bootstrap:' ~ bootstrap_version ~ '/FormTheme/forms.html.twig' %}


<div id="rk-facebook-editor-tabs">
    <ul class="nav nav-tabs" >
        <li class="active"><a href="#al-editor-tab-1" data-toggle="tab">Like button</a></li>
        <li><a href="#al-editor-tab-2" data-toggle="tab">Open graph</a></li>
    </ul>

    <div class="tab-content">
        <div id="al-editor-tab-1" class="tab-pane active">
            <form id="al_like_form" action="#" method="post" {{ form_enctype(editor.form_like) }}>
            {{ form(editor.form_like) }}
            </form> 
            <div class="rk-social-notes">Leave the url empty to use the current page url</div>
        </div>
        <div id="al-editor-tab-2" class="tab-pane">
            <form id="al_graph_form" action="#" method="post" {{ form_enctype(editor.form_open_graph) }}>
            {{ form(editor.form_open_graph) }}
            </form> 
            <div class="rk-social-notes">Leave the url empty to use the current page url</div>
            <div class="rk-social-notes">Leave the title empty to use the current page title</div>
        </div>
    </div>
    <div id="rk-social-editor-commands">
        <a href="#" class="al_editor_save btn btn-primary">Save</a>
    </div>
</div>
